@import '../node_modules/ol/ol.css';

html,
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  background-image: url('./data/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 10px;
  text-shadow: 1px 1px 1px rgb(105, 102, 98), 4px 5px 2px rgba(0, 0, 0, 0.15);
}
.header-choose-layer {
  margin: 5px;
}

#map {
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 88vh;
  width: 95vw;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.div-choose {
  position: fixed;
  top: 28%;
  left: 87%;
  transform: translate(-50%, -50%);
  padding: 5px 10px 10px 10px;
  background-color: antiquewhite;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.38) 0px 3px 8px;
}

.div-choose-layer {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#list-countries {
  cursor: pointer;
  align-items: center;
  height: 5vh;
  width: 15vw;
}

option {
  background-color: #60606050;
  padding: 2px;
  min-width: 100px;
  border: 0.5px solid #ccc;
  background-color: white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#shop-info {
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  z-index: 5;
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.38) 0px 3px 8px;
}

#shop-info > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#shop-info > div > span {
  text-transform: capitalize;
}

/* shopInfo!.style.backgroundColor = '#fff';
shopInfo!.style.border = '1px solid #000';
shopInfo!.style.padding = '10px';
shopInfo!.style.zIndex = '1';
shopInfo!.style.boxShadow = '0 0 10px #000';
shopInfo!.style.borderRadius = '5px';
shopInfo!.style.fontSize = '12px';
shopInfo!.style.fontFamily = 'sans-serif';
shopInfo!.style.color = '#000';
shopInfo!.style.textAlign = 'center';
shopInfo!.style.lineHeight = '1.5';
shopInfo!.style.whiteSpace = 'pre-wrap';
shopInfo!.style.wordWrap = 'break-word';
shopInfo!.style.overflow = 'hidden';
shopInfo!.style.maxWidth = '200px';
shopInfo!.style.maxHeight = '200px'; */
